/* CSS RESET
---
    html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
    v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
    html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {padding:40px; margin:0 auto; width: 560px; font-family: Arial}
h1 {font-size: 32px; margin-bottom:20px;}
h2 {font-size: 14px; margin:20px 0 5px 0;}

pre code {background: #ccc; padding:2px 0; display: block; margin-top:4px;}

.ui-autocomplete {
    font-size:12px;
    border:1px solid #ddd; 
    background:#fff; 
    list-style:none; 
    position: absolute; 
    cursor: default;
}
.ui-autocomplete li {margin:0;}
.ui-autocomplete li a {display:block; padding:4px;}
.ui-autocomplete li a.ui-state-hover,
.ui-autocomplete li a:hover {background:#eee;}
